# Terraform state files
*.tfstate
*.tfstate.*

# Terraform directory
infra/.terraform/

# Crash log files
crash.log
crash.*.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

.DS_Store
